@model Amy.WebUI.Areas.Admin.Models.SearchResult<Amy.WebUI.Areas.Admin.Models.Article>
@{
    ViewBag.Title = "Elasticsearch示例";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- 面包屑 start -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <ol class="breadcrumb page-breadcrumb pull-left">
        <li><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/manager">工作台</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li><a href="javascript:void(0);">搜索引擎服务</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="clearfix"></div>
</div>
<!-- 面包屑 end -->
<!-- 右侧内容 start -->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-body">
                    <div class="box jplist">
                        <div class="jplist-panel box panel-top">
                            <div style="float: left;">
                                <div class="text-filter-box">
                                    <a href="javascript:void(0);" class="btn btn-green js-add"><i class="fa fa-plus"></i>&nbsp;添加文档</a>
                                    <a href="javascript:void(0);" class="btn btn-primary js-bulkDel"><i class="fa fa-minus"></i>&nbsp;删除文档</a>
                                </div>
                            </div>
                            <div style="float: right;">
                                <form method="get" action="/admin/elasticsearch/basic">
                                    @*<div class="text-filter-box">
                                            <div class="input-group">
                                                <select name="type" class="select2" style="width:100%" data-selected="@ViewBag.Type">
                                                    <option value="0">请选择角色</option>
                                                    <option value="1">制造商</option>
                                                    <option value="2">执法员</option>
                                                    <option value="3">销售商</option>
                                                </select>
                                            </div>
                                        </div>*@
                                    <div class="text-filter-box">
                                        <div class="input-group">
                                            <input type="text" name="hits" value="@ViewBag.Hits" class="form-control" placeholder="点击数">
                                        </div>
                                    </div>
                                    <div class="text-filter-box">
                                        <div class="input-group">
                                            <input type="text" name="author" value="@ViewBag.Author" class="form-control" placeholder="作者">
                                        </div>
                                    </div>
                                    <div class="text-filter-box">
                                        <div class="input-group">
                                            <input type="text" name="key" value="@ViewBag.Key" class="form-control" placeholder="标题/描述">
                                        </div>
                                    </div>
                                    <button class="btn btn-blue" type="submit">搜索</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-yellow">
                <div class="panel-heading">@ViewBag.Title</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="3%">
                                    <input type="checkbox" class="checkall" />
                                </th>
                                <th width="20%">标题</th>
                                <th width="50%">描述</th>
                                <th>作者</th>
                                <th>点击数</th>
                                <th>打赏</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var v in Model.DataList)
                            {
                            <tr data-id="@v.Id">

                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>@Html.Raw(v.Title)</td>
                                <td>@Html.Raw(v.Description)</td>
                                <td>@v.Author</td>
                                <td><a href="javascript:void(0);" class="js-hit">@v.Hits</a></td>
                                <td>@v.Tips</td>
                                <td>@v.DateTime.ToFormatDay()</td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-green btn-outlined btn-square js-edit">编辑</a>
                                    <a href="javascript:void(0);" class="btn btn-red btn-outlined btn-square js-del">删除</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        @Html.Pager(Model.DataList)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="echart" class="col-lg-12" style="height:400px;"></div>
    </div>
</div>
<!-- 右侧内容 end -->

@section styles{
    <link type="text/css" rel="stylesheet" href="/content/mgr/vendors/jplist/html/css/jplist-custom.css">
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.js-add').on('click', function () {
                amy.modal('@Url.Action("Add", "Elasticsearch", new { area="Admin" })', {}, function (data, res) {
                    if (res.Flag) {
                        amy.alert('新建文档成功！！！', function () {
                            location.reload();
                        })
                    }
                    else {
                        amy.alert(res.Content[0][1]);
                    }
                })
            })

            $('.js-edit').on('click', function () {
                var id = $(this).parents('tr').attr('data-id');

                amy.modal('@Url.Action("Edit", "Elasticsearch", new { area="Admin" })', { id: id }, function (data, res) {
                    if (res.Flag) {
                        amy.alert('编辑文档成功！！！', function () {
                            location.reload();
                        })
                    }
                    else {
                        amy.alert(res.Content[0][1]);
                    }
                })
            })

            $('.js-del').on('click', function () {
                var id = $(this).parents('tr').attr('data-id');

                amy.confirm('确定要删除所选文档吗？', function () {
                    $.post('@Url.Action("Delete", "Elasticsearch", new { area = "Admin" })', { ids: id }, function (res) {
                        if (res.Flag) {
                            amy.alert('删除文档成功！！！', function () {
                                location.reload();
                            })
                        }
                        else {
                            amy.alert(res.Content[0][1]);
                        }

                    }, 'json')
                })
            })

            $('.js-bulkDel').on('click', function () {
                var obj = $(this);

                amy.confirm('确定要删除所选文档吗？', function () {
                    var ids = [];

                    $(".icheckbox_minimal-grey").each(function () {
                        if ($(this).hasClass("checked")) {

                            var id = $(this).parents('tr').attr('data-id');

                            if (id) {
                                ids.push(id);
                            }
                        }
                    });

                    $.post('@Url.Action("Delete", "Elasticsearch", new { area = "Admin" })', { ids: ids.join(',') }, function (res) {
                        if (res.Flag) {
                            amy.alert('删除文档成功！！！', function () {
                                location.reload();
                            })
                        }
                        else {
                            amy.alert(res.Content[0][1]);
                        }

                    }, 'json')
                })
            })

            $('.js-hit').on('click', function () {
                var id = $(this).parents('tr').attr('data-id');

                amy.confirm('确定要为所选文档追加点击数吗？', function () {
                    $.post('@Url.Action("Append", "Elasticsearch", new { area = "Admin" })', { id: id }, function (res) {
                        if (res.Flag) {
                            amy.alert('追加点击数成功！！！', function () {
                                location.reload();
                            })
                        }
                        else {
                            amy.alert(res.Content[0][1]);
                        }

                    }, 'json')
                })
            })
        })
    </script>

    <script type="text/javascript">
        var json = @Html.Raw(Model.Aggregations);

        console.log(json);

        var authorArray = [];
        var hitArray = [];

        $.each(json.group_by_author.buckets, function(n, item){
            authorArray.push(item.key);
            hitArray.push(item.average_tips.value);
        })

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echart'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例之最佳作者'
            },
            tooltip: {},
            legend: {
                data: ['点击数']
            },
            xAxis: {
                data: authorArray//["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
            },
            yAxis: {},
            series: [{
                name: '点击数',
                type: 'bar',
                data: hitArray//[5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
}

