@model Amy.WebUI.Areas.Admin.Models.CacheObject
@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title" id="modal-login-label">@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        <div class="form">
            <form id="amy-form" method="post" action="@Url.Action("Save", "Redis", new { area="Admin" })" class="form-horizontal">
                <div class="form-body pal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">键值</label>
                        <div class="col-md-10">
                            <input name="Id" type="hidden" value="@Model.Id" />
                            <input type="text" name="Key" value="@Model.Key" class="form-control required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">缓存类型</label>
                        <div class="col-md-10">
                            <label class="radio-inline">
                                <input type="radio" name="CacheType" value="object" data-value="@Model.CacheType" />&nbsp; object
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="CacheType" value="list" data-value="@Model.CacheType" />&nbsp; list
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">所属模块</label>
                        <div class="col-md-10">
                            <select name="Module" class="select2 js-select2" style="width:100%" data-value="@Model.Module">
                                <option value="global">全局缓存</option>
                                <option value="article">新闻模块</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">数据类型</label>
                        <div class="col-md-10">
                            <select name="ValueType" class="select2 js-select2" style="width:100%" data-value="@Model.ValueType">
                                <option value="string">字符类型</option>
                                <option value="int">数字类型</option>
                                <option value="siteconfig">站点配置</option>
                                <option value="recarticle">推荐新闻</option>
                                <option value="reccomment">推荐评论</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">缓存内容</label>
                        <div class="col-md-10">
                            <textarea name="Value" class="form-control">@Model.Value</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-actions pal">
                    <div class="form-group mbn">
                        <div class="col-md-offset-2 col-md-6">
                            <button type="submit" class="btn btn-primary sure">确定</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    //初始化表单checkbox
    $('input[type="checkbox"]:not(".switch")').iCheck({
        checkboxClass: 'icheckbox_minimal-grey',
        increaseArea: '20%' // optional
    }).each(function (n) {
        var obj = $(this);

        var array = '';

        if (obj.attr('data-value')) {
            array = ',' + obj.attr('data-value') + ',';
        }

        var cur = ',' + obj.val() + ',';

        if (array.indexOf(cur) >= 0) {
            obj.iCheck('check');
        }
    });

    //初始化表单radio
    $('#amy-form input[type="radio"]:not(".switch")').iCheck({
        radioClass: 'iradio_minimal-grey',
        increaseArea: '20%' // optional
    }).each(function (n) {
        var obj = $(this);

        if (obj.val() == obj.attr('data-value')) {
            obj.iCheck('check');
        }
    });

    $('.js-select2').select2();

    $('.js-select2').each(function (n) {
        var obj = $(this);

        var id = obj.attr('data-value');

        if (id) {
            obj.select2('val', id);
        }
        else {
            obj.select2('val', '');
        }
    })
</script>
